/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* box-sizing to most items */
body,header,main,footer,div,article,aside,details,figcaption,figure,hgroup,menu,nav,input,textarea,select,a,p,ul,ol,li,span{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/* end reset */

.headSpace {
    width: 100%;
    height: 20px;
}
.headerContainer {
    width: 100%;
    /*position: absolute;
    top: 20px;*/
    /*left: 141px;*/
    /*z-index: 80;*/
    /*line-height: 12px;*/
    height: 88px;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
    .headerContainer ul {
        float: right;
        margin-top: -25px;
    }
        .headerContainer li {
            font: bold 17px/23px "Cabin",sans-serif;
            margin: -5px 30px 0px 0px;
            /*list-style: none;*/
            }
            .headerContainer a {
                color: white;
                text-decoration: none;

}
.headerTitle {
    font: bold 18px/36px "Bad Script", cursive;
    color: white;
    margin-left: 12px;
}

/*All Views*/
.viewTopper {
    width: 100%;
    height: 60px;
    /*background-color: white;*/
    font: bold 40px/60px "Cabin",sans-serif;
}
.homeWrapper {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}
.homeWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.personalBlurb {

}



/*Contact Page*/

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.footerContainer {
    font: 15px/30px "Cabin",sans-serif;
    text-align: center;
    color: white;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
