<div class="contentWrapper">
    <div class="viewTopper">
        projects
    </div>
        <div class="projectArea"ng-controller="workCtrl" ng-repeat="project in projects">
                <div class="workBlurb">
                    <a href="{{project.url}}" target="_blank">
                        <h3>
                            {{project.title}}
                        </h3>
                        <p>
                            {{project.desc}}
                        </p>
                    </a>
                    <div class="tech">
                    <a href="{{project.code}}" target="_blank">
                        <div class="codeButton">
                            <span class="codeButtonText">See the code</span>
                        </div>
                    </a>
                    <h4>Tech used:</h4>
                        <ul class="techUsed">
                            <li ng-repeat="tech in project.tech">{{tech}}</li>
                        </ul>
                    </div>
                </div>
                <div class="projectWindow">
                    <a href="{{project.url}}" target="_blank">
                        <img src="{{project.img}}" alt="{{project.title}}" />
                    </a>
                </div>
        </div>
</div>
