/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* box-sizing to most items */
body, header, main, footer, div, article, aside, details, figcaption, figure, hgroup, menu, nav, input, textarea, select, a, p, ul, ol, li, span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ---------- end reset ---------- */


/* ---------- global styles ---------- */
body, html {
  font: 16px/20px Cabin, sans-serif;
  height: 100%;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  color: #000;
}

body:before {
  display: none;
  content: url(../img/fbIcon.svg) url(../img/fbIconBlue.svg) url(../img/liIcon.svg) url(../img/liIconBlue.svg) url(../img/slIcon.svg) url(../img/slIconBlue.svg) url(../img/gitIcon.svg) url(../img/gitIconBlue.svg);
}










@media (min-width:769px) {
  .headerContainer a, .projectArea a {
    text-decoration: none;
  }
  .aboutSidebar, .intIcon, .workBlurb {
    vertical-align: top;
  }
  .mainWrapper {
    position: relative;
    min-height: 100%;
    background: url(../img/MotoRide2.jpg) center center no-repeat fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
  }
  .headSpace {
    width: 100%;
    height: 20px;
  }
  .headerContainer {
    width: 100%;
    height: 88px;
    background: rgba(0, 0, 0, .5);
  }
  .linkEmail, .linkEmail:hover, .linkFacebook, .linkFacebook:hover, .linkGithub, .linkGithub:hover, .linkLinkedIn, .linkLinkedIn:hover, .linkSlack, .linkSlack:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
  }
  .headerContainer ul {
    float: right;
    margin-top: -25px;
  }
  .headerContainer li {
    font: 700 17px/23px Cabin, sans-serif;
    margin: -5px 30px 0 0;
  }
  .headerContainer a {
    cursor: pointer;
    color: #fff;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  .headerContainer a:hover {
    color: #dfa83a;
  }
  .headerTitle {
    font: 700 18px/36px "Bad Script", cursive;
    color: #fff;
    margin-left: 12px;
  }
  .linksContainer {
    width: 100%;
    margin: 24px auto;
    text-align: center;
  }
  .linkEmail, .linkFacebook, .linkGithub, .linkLinkedIn, .linkSlack {
    max-width: 80px;
    width: 8vw;
    max-height: 80px;
    height: 8vw;
    margin: 2.5vw;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  .linkFacebook {
    background-image: url(../img/fbIcon.svg);
  }
  .linkFacebook:hover {
    background-image: url(../img/fbIconBlue.svg);
  }
  .linkLinkedIn {
    background-image: url(../img/liIcon.svg);
  }
  .linkLinkedIn:hover {
    background-image: url(../img/liIconBlue.svg);
  }
  .linkSlack {
    background-image: url(../img/slIcon.svg);
  }
  .linkSlack:hover {
    background-image: url(../img/slIconBlue.svg);
  }
  .linkGithub {
    background-image: url(../img/gitIcon.svg);
  }
  .linkGithub:hover {
    background-image: url(../img/gitIconBlue.svg);
  }
  .form {
    display: block;
    width: 450px;
    margin: 0 auto;
  }
  .form p {
    font-size: 24px;
    font-weight: 700;
    margin: 12px auto;
  }
  .form input, .form textarea {
    display: block;
    padding: 9px 12px;
    border: none;
    background-color: #eee;
    color: #222;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    font: 16px Cabin, sans-serif;
  }
  .form input {
    width: 100%;
  }
  .form textarea {
    width: 450px;
    height: 120px;
  }
  #submitButton {
    width: 100px;
    height: 36px;
    font: 16px Cabin, sans-serif;
    font-weight: 700;
    color: #fff;
    transition: background-color 0.15s ease;
    background-color: #0644fb;
    border-radius: 5px;
  }
  #submitButton:hover {
    background-color: #0435C8;
  }
  .contactWrapper, .contentWrapper {
    left: 10%;
    overflow: auto;
    background-color: rgba(255, 255, 255, .8);
  }
  .thanks {
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin-top: 60px;
  }
  .contentWrapper {
    position: fixed;
    top: 108px;
    bottom: 70px;
    right: 10%;
    margin: 0 auto;
  }
  .viewTopper {
    width: 100%;
    height: 90px;
    font: 700 40px/60px Cabin, sans-serif;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0644fb;
    text-align: left;
  }
  .mainBlurb, .wwQuote {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  .mainBlurb, .projectArea, .wwQuote {
    width: 100%;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  }
  .mainBlurb {
    margin-top: 68px;
    font: 700 20px/30px Cabin, sans-serif;
    text-align: center;
  }
  .mainBlurb span {
    font-size: 36px;
  }
  .wwQuote {
    position: fixed;
    bottom: 20%;
    right: 8%;
    display: inline-block;
    margin-top: 80px;
    text-align: right;
    font: 700 20px/30px Cabin, sans-serif;
  }
  .wwQuote strong {
    font: 700 28px/46px "Bad Script", cursive;
    color: #dfa83a;
  }
  .wwQuote span {
    text-align: right;
    font: 700 italic 16px/30px Cabin, sans-serif;
  }
  .aboutSidebar, .interests {
    text-align: left;
    padding-left: 5%;
    display: inline-block;
  }
  .workBlurb {
    display: inline-block;
    width: 30%;
    padding-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .workBlurb h3, .workBlurb h4, .workBlurb p {
    margin-bottom: 12px;
  }
  .workBlurb h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .workBlurb h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .codeButton {
    font-size: 18px;
    height: 45px;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 3px;
    transition: background-color 0.15s ease;
    background-color: #0644fb;
  }
  .codeButton:hover {
    background-color: #0435C8;
  }
  .codeButtonText {
    font-size: 18px;
    line-height: 45px;
    color:  white;
    margin: 0 auto;
  }
  .projectWindow {
    display: inline-block;
    width: 60%;
    margin-bottom: 80px;
  }
  .projectWindow img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  }
  .aboutArea {
    width: 100%;
  }
  .MyPic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2vh 0;
  }
  .aboutSidebar {
    width: 40%;
    margin-bottom: 5%;
    float: left;
  }
  .personalBlurb p:nth-child(1) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .skillsContainer {
    width: 90%;
    max-width: 300px;
  }
  .skillsTitle {
    font: 30px/40px VT323;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .skillsImages {
    width: 33.33%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
  }
  .skillsImages img {
    width: 100%;
    height: auto;
  }
  .interests {
    width: 60%;
    max-width: 700px;
    margin-top: 6vh;
  }
  .intIcon {
    width: 19%;
    max-width: 120px;
    height: 120px;
    margin: 5%;
    display: inline-block;
  }
  .intIcon img {
    width: 100%;
    height: auto;
  }
  .intDesc {
    position: relative;
    top: 25%;
    width: 150%;
    vertical-align: middle;
  }
  .intDesc p:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
  .contactWrapper {
    position: fixed;
    top: 108px;
    bottom: 70px;
    right: 10%;
    margin: 0 auto;
  }
  #footer {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    font: 15px/20px Cabin, sans-serif;
    text-align: center;
    color: #e2e2e2;
    background-color: rgba(0, 0, 0, .5);
    padding: 8px;
  }
}











@media (max-width:768px) {
  .headerContainer a, .projectArea a {
    text-decoration: none;
  }
  .aboutSidebar, .intIcon, .workBlurb {
    vertical-align: top;
  }
  .mainWrapper {
    position: relative;
    min-height: 100%;
    background: url(../img/MotoRide2.jpg) center center no-repeat fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
  }
  .headSpace {
    width: 100%;
    height: 20px;
  }
  .headerContainer {
    width: 100%;
    height: 88px;
    background: rgba(0, 0, 0, .5);
  }
  .linkEmail, .linkEmail:hover, .linkFacebook, .linkFacebook:hover, .linkGithub, .linkGithub:hover, .linkLinkedIn, .linkLinkedIn:hover, .linkSlack, .linkSlack:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
  }
  .headerContainer ul {
    float: right;
    margin-top: -25px;
  }
  .headerContainer li {
    font: 700 17px/23px Cabin, sans-serif;
    margin: -5px 30px 0 0;
  }
  .headerContainer a {
    cursor: pointer;
    color: #fff;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  .headerContainer a:hover {
    color: #dfa83a;
  }
  .headerTitle {
    font: 700 18px/36px "Bad Script", cursive;
    color: #fff;
    margin-left: 12px;
  }
  .linksContainer {
    width: 100%;
    margin: 24px auto;
    text-align: center;
  }
  .linkEmail, .linkFacebook, .linkGithub, .linkLinkedIn, .linkSlack {
    width: 8vw;
    height: 8vw;
    margin: 2.5vw;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  .linkEmail {
    background-image: url(../img/email.svg);
  }
  .linkEmail:hover {
    background-image: url(../img/emailBlue.svg);
  }
  .linkFacebook {
    background-image: url(../img/fbIcon.svg);
  }
  .linkFacebook:hover {
    background-image: url(../img/fbIconBlue.svg);
  }
  .linkLinkedIn {
    background-image: url(../img/liIcon.svg);
  }
  .linkLinkedIn:hover {
    background-image: url(../img/liIconBlue.svg);
  }
  .linkSlack {
    background-image: url(../img/slIcon.svg);
  }
  .linkSlack:hover {
    background-image: url(../img/slIconBlue.svg);
  }
  .linkGithub {
    background-image: url(../img/gitIcon.svg);
  }
  .linkGithub:hover {
    background-image: url(../img/gitIconBlue.svg);
  }
  .form {
    display: block;
    max-width: 450px;
    width: 70vw;
    margin: 0 auto;
  }
  .form p {
    font-size: 24px;
    font-weight: 700;
    margin: 12px auto;
  }
  .form input, .form textarea {
    display: block;
    padding: 9px 12px;
    border: none;
    background-color: #eee;
    color: #222;
    max-width: 450px;
    width: 70vw;
    margin-bottom: 12px;
    font: 16px Cabin, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  }
  .form input {
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
  }
  .form textarea {
    height: 120px;
  }
  #submitButton {
    width: 100px;
    height: 36px;
    font: 16px Cabin, sans-serif;
    font-weight: 700;
    color: #fff;
    transition: background-color 0.15s ease;
    background-color: #0644fb;
    border-radius: 5px;
  }
  #submitButton:hover {
    background-color: #0435C8;
  }
  .thanks, .viewTopper {
    width: 100%;
    text-align: center;
  }
  .contactWrapper, .contentWrapper {
    left: 10%;
    overflow: auto;
    background-color: rgba(255, 255, 255, .8);
  }
  .thanks {
    font-size: 42px;
    margin-top: 60px;
  }
  .contentWrapper {
    position: fixed;
    top: 108px;
    bottom: 70px;
    right: 10%;
    margin: 0 auto;
  }
  .viewTopper {
    height: 12vw;
    font: 700 40px/60px Cabin, sans-serif;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0644fb;
  }
  .mainBlurb, .wwQuote {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  .mainBlurb, .projectArea, .tech, .workBlurb, .wwQuote {
    width: 100%;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  }
  .mainBlurb {
    margin-top: 68px;
    font: 700 20px/30px Cabin, sans-serif;
    text-align: center;
  }
  .mainBlurb span {
    font-size: 36px;
  }
  .wwQuote {
    position: fixed;
    bottom: 20%;
    right: 8%;
    display: inline-block;
    margin-top: 80px;
    text-align: right;
    font: 700 20px/30px Cabin, sans-serif;
  }
  .wwQuote strong {
    font: 700 28px/46px "Bad Script", cursive;
    color: #dfa83a;
  }
  .wwQuote span {
    text-align: right;
    font: 700 italic 16px/30px Cabin, sans-serif;
  }
  .workBlurb {
    display: block;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
  }
  .workBlurb h3, .workBlurb h4, .workBlurb p {
    padding-right: 5%;
    margin-bottom: 12px;
    padding-left: 5%;
  }
  .workBlurb h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .workBlurb h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .workBlurb li {
    display: block;
    margin: 0 5%;
  }
  .blueButton {
    font-size: 18px;
    height: 45px;
    text-align: center;
    margin: 0 5% 12px 5%;
    border-radius: 3px;
    transition: background-color 0.15s ease;
    background-color: #0644fb;
  }
  .blueButton:hover {
    background-color: #0435C8;
  }
  .blueButtonText {
    font-size: 18px;
    line-height: 45px;
    color:  white;
    margin: 0 auto;
  }
  .projectWindow {
    display: block;
    width: 95%;
    margin: 0 auto 10%;
  }
  .aboutSidebar, .intIcon, .interests, .skillsImages {
    display: inline-block;
  }
  .projectWindow img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  }
  .aboutArea {
    width: 100%;
  }
  .MyPic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2vh 0;
  }
  .aboutSidebar {
    width: 40%;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 5%;
    float: left;
  }
  .personalBlurb p:nth-child(1) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .skillsContainer {
    width: 90%;
    max-width: 300px;
  }
  .skillsTitle {
    font: 30px/40px VT323;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .skillsImages {
    width: 33.33%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skillsImages img {
    width: 100%;
    height: auto;
  }
  .interests {
    width: 60%;
    max-width: 700px;
    text-align: left;
    padding-left: 5%;
  }
  .intIcon {
    width: 19%;
    max-width: 120px;
    height: 120px;
    margin: 5%;
  }
  .intIcon img {
    width: 100%;
    height: auto;
  }
  .intDesc {
    position: relative;
    top: 25%;
    width: 150%;
    vertical-align: middle;
  }
  .intDesc p:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
  .contactWrapper {
    position: fixed;
    top: 108px;
    bottom: 70px;
    right: 10%;
    margin: 0 auto;
  }
  #footer {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    font: 15px/20px Cabin, sans-serif;
    text-align: center;
    color: #e2e2e2;
    background-color: rgba(0, 0, 0, .5);
    padding: 8px;
  }
}











@media (max-width:480px) {
  .headerContainer a, .projectArea a {
    text-decoration: none;
  }
  .mainWrapper {
    /*background: center center fixed #fff*/
    position: relative;
    min-height: 100%;
    background: url(../img/MotoRide2.jpg) center center no-repeat fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
  }
  .linkEmail, .linkEmail:hover, .linkFacebook, .linkFacebook:hover, .linkGithub, .linkGithub:hover, .linkLinkedIn, .linkLinkedIn:hover, .linkSlack, .linkSlack:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
  }
  .headSpace {
    width: 100%;
    height: 0;
  }
  .headerContainer {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0);
  }
  .headerContainer ul {
    margin-top: -25px;
  }
  .headerContainer li {
    font: 700 17px/23px Cabin, sans-serif;
    margin: -5px 30px 0 0;
  }
  .headerContainer a {
    cursor: pointer;
    color: #fff;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  .headerContainer a:hover {
    color: #dfa83a;
  }
  .headerTitle {
    font: 700 18px/36px "Bad Script", cursive;
    color: #fff;
    margin-left: 12px;
  }
  .linksContainer {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .linkEmail, .linkFacebook, .linkGithub, .linkLinkedIn, .linkSlack {
    width: 12vw;
    height: 12vw;
    margin: 2.5vw;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  .linkEmail {
    background-image: url(../img/email.svg);
  }
  .linkEmail:hover {
    background-image: url(../img/emailBlue.svg);
  }
  .linkFacebook {
    background-image: url(../img/fbIcon.svg);
  }
  .linkFacebook:hover {
    background-image: url(../img/fbIconBlue.svg);
  }
  .linkLinkedIn {
    background-image: url(../img/liIcon.svg);
  }
  .linkLinkedIn:hover {
    background-image: url(../img/liIconBlue.svg);
  }
  .linkSlack {
    background-image: url(../img/slIcon.svg);
  }
  .linkSlack:hover {
    background-image: url(../img/slIconBlue.svg);
  }
  .linkGithub {
    background-image: url(../img/gitIcon.svg);
  }
  .linkGithub:hover {
    background-image: url(../img/gitIconBlue.svg);
  }
  .form {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
  .form p {
    font-size: 24px;
    font-weight: 700;
    margin: 12px auto;
  }
  .form input, .form textarea {
    display: block;
    padding: 9px 12px;
    border: none;
    background-color: #eee;
    color: #222;
    width: 90vw;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    font: 16px Cabin, sans-serif;
  }
  .form textarea {
    height: 120px;
  }
  #submitButton {
    width: 100px;
    height: 36px;
    font: 16px Cabin, sans-serif;
    font-weight: 700;
    color: #fff;
    transition: background-color 0.15s ease;
    background-color: #0644fb;
    border-radius: 5px;
  }
  #submitButton:hover {
    background-color: #0435C8;
  }
  .thanks, .viewTopper {
    width: 100%;
    text-align: center;
  }
  .thanks {
    font-size: 42px;
    margin-top: 60px;
  }
  .contentWrapper {
    position: fixed;
    top: 90px;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(255, 255, 255);
  }
  .viewTopper {
    height: 12vw;
    font: 700 40px/60px Cabin, sans-serif;
    padding-left: 0;
    margin-bottom: 45px;
    color: #0644fb;
  }
  .mainBlurb, .wwQuote {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    width: 100%;
  }
  .mainBlurb {
    margin-top: 10vh;
    font: 700 5vw/5.75vw Cabin, sans-serif;
    text-align: center;
  }
  .mainBlurb span {
    font-size: 8vw;
  }
  .wwQuote {
    position: fixed;
    bottom: 15%;
    right: 8%;
    display: inline-block;
    margin-top: 80px;
    text-align: right;
    font: 700 20px/30px Cabin, sans-serif;
  }
  .wwQuote strong {
    font: 700 7vw/10vw "Bad Script", cursive;
    color: #dfa83a;
  }
  .wwQuote span {
    text-align: right;
    font: 700 italic 16px/30px Cabin, sans-serif;
  }
  .aboutSidebar, .interests {
    text-align: left;
    display: block;
  }
  .projectArea {
    width: 100%;
  }
  .workBlurb {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
    vertical-align: top;
  }
  .workBlurb h3, .workBlurb h4, .workBlurb p {
    padding-right: 5%;
    margin-bottom: 12px;
    padding-left: 5%;
  }
  .workBlurb h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .workBlurb h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .workBlurb li {
    margin: 0 5%;
  }
  .codeButton {
    font-size: 18px;
    height: 45px;
    text-align: center;
    margin: 0 5% 12px 5%;
    border-radius: 3px;
    transition: background-color 0.15s ease;
    background-color: #0644fb;
    margin-left: 5%;
    margin-right: 5%;
  }
  .codeButton:hover {
    background-color: #0435C8;
  }
  .codeButtonText {
    font-size: 18px;
    line-height: 45px;
    color:  white;
    margin: 0 auto;
  }
  .tech {
    width: 100%;
  }
  .projectWindow {
    display: block;
    width: 100%;
    margin-bottom: 10%;
  }
  .projectWindow img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  }
  .aboutArea {
    width: 100%;
  }
  .MyPic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: calc(50% - 100px);

  }
  .aboutSidebar {
    width: 100%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .personalBlurb p:nth-child(1) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .skillsContainer {
    width: 90%;
    max-width: 300px;
  }
  .skillsTitle {
    font: 30px/40px VT323;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .skillsImages {
    width: 33.33%;
  }
  .skillsImages img {
    width: 100%;
    height: auto;
  }
  .interests {
    width: 100%;
    height: 900px;
    padding-left: 5%;
  }
  .intIcon {
    width: 19%;
    max-width: 120px;
    height: 70px;
    margin: 5%;
    vertical-align: top;
    display: inline-block;
  }
  .intIcon img {
    width: 100%;
    height: auto;
  }
  .intDesc {
    position: relative;
    top: 25%;
    width: 150%;
    vertical-align: middle;
  }
  .intDesc p:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
  #footer {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    font: 15px/20px Cabin, sans-serif;
    text-align: center;
    color: #e2e2e2;
    background-color: rgba(0, 0, 0, .5);
    padding: 8px;
  }
  .footer p:nth-child(1) {
    display: none;
  }
}
